{% extends "base.jinja2" %}

{% block title %}Reference Graph : {{ graphname|escape }}{% endblock %}
{% block extrajs %}
<script type="text/javascript" src="/static/d3/d3.js"></script>
<script type="text/javascript" src="/static/d3/d3.geom.min.js"></script>
<script type="text/javascript" src="/static/d3/d3.layout.js"></script>

{% endblock extrajs %}
{% block extracss %}
<style type="text/css">
circle.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.nodetext {
    pointer-events: none;
    font: 10px sans-serif;
}

line.link {
  stroke: #999;
  stroke-opacity: .6;
}
</style>
{% endblock extracss %}
{% block content %}
<div id="sections">
    <h1><a href="{{ request.route_url('get_graph', id=graphname) }}">{{ graphname }}</a></h1>
<div id="chart"></div>
</div>

{% endblock content %}

{% block sidebar %}
<h2>{{ title }}</h2>
{#
<span>IS {% if not isprime %}NOT{% endif %} a prime number</span><br />
<span>{{ primefactorcount }} prime factor{% if primefactorcount > 1 %}s{% endif %}</span>
<span>({{ primefactorcount_unique }} unique{% if primefactorcount_unique > 1 %}s{% endif %})</span>
#}
{% if graphname %}
{% for k,v in attributes.iteritems() %}
    <h2>{{ k }}</h2>
    <span>{{ v }}</span>
{% endfor %}
<h2>Links</h2>
<ul id="number_links" style="list-style-type:none">
    <li><a target="_blank" href="http://en.wikipedia.org/wiki/{{n}}">{{n}} @Wikipedia</a></li>
    <li><a target="_blank" href="http://mathworld.wolfram.com/{{n}}.html">{{n}} @Wolfram Mathworld</a></li>
    <li><a target="_blank" href="http://www.wolframalpha.com/input/?i={{n}}">{{n}} @Wolfram Alpha</a></li>
</ul>
<h2>Download</h2>
<ul id="download_links" style="list-style-type:none">
    <li><a href="{{ request.route_url('get_graph', id=graphname ) }}.graphml">Reference Graph GraphML</a></li>
    <li><a href="{{ request.route_url('get_graph', id=graphname ) }}">Permalink</a></li> <!-- TODO -->
</ul>
{% endif %}
<h2>Navigation</h2>
TODO
{#
<a href="{{ request.route_url('get_graph', n=n-1) }}">-1: {{n-1}}</a>
<a href="{{ request.route_url('get_graph', n=n+1) }}">+1: {{n+1}}</a>
#}
{% endblock sidebar %}

